[Unit]
Description=Threads of Time database (MySQL 8.x)
Requires=tot-server-pod.service
After=tot-server-pod.service

[Container]
ContainerName=tot-database
Image=docker.io/library/mysql:8.4
Pod=tot-server.pod
Volume=tot-database.volume:/var/lib/mysql:Z
EnvironmentFile=@TOT_HOME@/.env
Environment=MYSQL_DATABASE=tot_world
HealthCmd=mysqladmin ping -h 127.0.0.1 -uroot -p${MYSQL_ROOT_PASSWORD}
HealthInterval=10s
HealthTimeout=5s
HealthRetries=10

[Service]
Restart=on-failure
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target default.target
