[Unit]
Description=Threads of Time auth server
Requires=tot-database.service tot-firstboot.service
After=tot-database.service tot-firstboot.service

[Container]
ContainerName=tot-authserver
Image=@GHCR_NS@/authserver:@TOT_VERSION@
Pod=tot-server.pod
Volume=@TOT_HOME@/etc:/azerothcore/env/dist/etc:Z
Volume=@TOT_HOME@/logs:/azerothcore/env/dist/logs:Z
EnvironmentFile=@TOT_HOME@/.env
Environment=AC_LOGIN_DATABASE_INFO="127.0.0.1;3306;${MYSQL_USER};${MYSQL_PASSWORD};tot_auth"
Environment=AC_LOGS_DIR=/azerothcore/env/dist/logs
Environment=AC_TEMP_DIR=/azerothcore/env/dist/temp
PodmanArgs=--tty

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target default.target
