[Unit]
Description=Threads of Time world server
Requires=tot-database.service tot-firstboot.service
After=tot-database.service tot-firstboot.service

[Container]
ContainerName=tot-worldserver
Image=@GHCR_NS@/worldserver:@TOT_VERSION@
Pod=tot-server.pod
Volume=@TOT_HOME@/etc:/azerothcore/env/dist/etc:Z
Volume=@TOT_HOME@/logs:/azerothcore/env/dist/logs:Z
Volume=tot-client-data.volume:/azerothcore/env/dist/data:Z,ro
EnvironmentFile=@TOT_HOME@/.env
Environment=AC_DATA_DIR=/azerothcore/env/dist/data
Environment=AC_LOGS_DIR=/azerothcore/env/dist/logs
Environment=AC_UPDATES_ENABLE_DATABASES=0
Environment=AC_LOGIN_DATABASE_INFO="127.0.0.1;3306;${MYSQL_USER};${MYSQL_PASSWORD};tot_auth"
Environment=AC_WORLD_DATABASE_INFO="127.0.0.1;3306;${MYSQL_USER};${MYSQL_PASSWORD};tot_world"
Environment=AC_CHARACTER_DATABASE_INFO="127.0.0.1;3306;${MYSQL_USER};${MYSQL_PASSWORD};tot_characters"
PodmanArgs=--tty --interactive --memory=${TOT_WORLDSERVER_MEM_LIMIT}

[Service]
Restart=on-failure
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target default.target
